button{
    background-color: gold;
    color:hotpink;
}
#para1{
    color:black;
    background-color: blue;
}
#para2{
    color: whitesmoke;
    background-color: black;
}
.content{
    color:gray;
    background-color: pink;
}
div{
    height: 200px;
    width: 300px;
    background:lawngreen;
    margin-left: 40px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding:10px;
}
.white{
    color: white;
}