button{
    background-color: gold;
    color:hotpink;
}
#para1{
    color:black;
    background-color: blue;
}
#para2{
    color: whitesmoke;
    background-color: black;
}
.content{
    color:gray;
    background-color: pink;
}